<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro"
       name="ridgeback_ur5_robotiq" >


  <!-- ridgeback -->
  <xacro:include filename="$(find ridgeback_description)/urdf/ridgeback.urdf.xacro" />

  <!-- common stuff -->
  <xacro:include filename="$(find ur_description)/urdf/common.gazebo.xacro" />

  <!-- ur5 -->
  <xacro:include filename="$(find ur_description)/urdf/ur5_robotiq.urdf.xacro" />

  <!--xacro:ur5_robot prefix="" joint_limited="false"/-->


 <xacro:ur5_robot prefix="" xyz="0.28 0 0.28" rpy="0 0 -0.785398" connected_to="top_link" joint_limited="true"/>


  <!-- robotiq -->
  <xacro:include filename="$(find robotiq_3f_gripper_visualization)/urdf/robotiq_articulated_macro.xacro" />

  <xacro:robotiq_articulated_macro prefix="" xyz="0 0 0.06" rpy="${pi/2.0} 0 ${-(5*pi)/4}" connected_to="tool01" />


  <!--link name="world" />

  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link = "base_link" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint-->

</robot>
